 
body{
    background-color: #f9f9fa;
/*
    font-family: Dolly Pro;
    font-style: normal;
*/
}
.nav{
    color: #6e6f71;
    font-family: Dolly Pro;
    font-weight: 400;
    font-style: italic;
    font-size: 36px;
    padding-left: 0px;
    line-height: 28px;
    
      
}
/*
.navwebsite {
    
 -webkit-transition:all 0.5s ease-out;
  -moz-transition:all 0.5s ease-out;
  -ms-transition:all 0.5s ease-out;
  -o-transition:all 0.5s ease-out;
  transition:all 0.5s ease-out;
filter: (2px);

}
*/

.navwebsite:hover {

font-weight: 700px;
}

/*scroll to top button*/
.portfolio {
	padding: 1.25rem 0 5rem 0;
    padding-top: 110px;
    padding-bottom: 120px;
}

.portfolio:after {
	content: "";
	display: block;
	clear: both;
}

.portfolioItem {
	width: 100vw;
	position: relative;
}

.noTouch .portfolioItem__mask:hover ~ .portfolioItem__title {
	opacity: 1;
}

/* BLOCKED VIEW OF PORTFOLIO-ITEMS */

.portfolioItem__bg {
	opacity: 0;
}

.portfolioItem__image {
	background-size: cover;
	transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
}

.portfolioItem__image, .portfolioItem__bg, .portfolioItem__mask {
	width: 100%;
	height: 66vw;
}

.portfolioItem__mask, .portfolioItem__bg {
	position: absolute;
	top: 0;
	left: 0;
}

.portfolioItem__mask {
	z-index: 1;
}

.noTouch .portfolioItem__mask.noTouch:hover ~ .portfolioItem__image {
	opacity: 0.5;
}

.portfolioItem__number {
	display: none;
}

.portfolioItem__title {
	font-size: 1.3125rem;
	text-align: center;
	margin: 1.25rem 0 2.5rem;
	padding: 0 1rem;
}

.portfolioItem__number.noTouch {
	display: block;
	font-size: 1.3125rem;
	line-height: 1;
	text-align: center;
	margin: 1.25rem 0 3.75rem 0;
}

.portfolioItem__title.noTouch {
	opacity: 0;
	position: absolute;
	top: 33vw;
	width: 100%;
	margin: 0;
	font-size: 1.5rem;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
}

.portfolioItem__title--number {
	display: none;
}

/* LINEAR VIEW OF PORTFOLIO-ITEMS */

.portfolio.linear .portfolioItem:nth-child(odd) {
	float: none;
	width: auto;
	margin: 0;
}

.portfolio.linear .portfolioItem:nth-child(even) {
	width: auto;
	margin: 0;
}

.portfolio.linear .portfolioItem__bg {
	opacity: 0.8;
}

.noTouch .portfolio.linear .portfolioItem__mask.noTouch:hover + .portfolioItem__bg {
	opacity: 1;
}

.portfolio.linear .portfolioItem__image {
	visibility: hidden;
}

.noTouch .portfolio.linear .portfolioItem__mask.noTouch:hover ~ .portfolioItem__image {
	opacity: 0;
}

.portfolio.linear .portfolioItem__image, .portfolio.linear .portfolioItem__bg, .portfolio.linear .portfolioItem__mask {
	height: 6.25rem;
}

.portfolio.linear .portfolioItem__number {
	display: none;
}

.portfolio.linear .portfolioItem__title, .portfolio.linear .portfolioItem__title.noTouch {
	opacity: 1;
	position: absolute;
	width: 100%;
	top: 3.125rem;
	margin: 0;
	font-size: 36px;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
    font-family: Dolly Pro;
    font-style: normal;
}

.portfolio.linear .portfolioItem__title--number {
	font-size: 1rem;
    
}

.project {
	position: relative;
	width: 100vw;
	height: 100%;
	padding: 0;
	overflow: hidden;
}

.loadedProject {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.project__info {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 7;
}

.project__info .content {
	position: absolute;
	top: 50%;
	width: 100%;
	padding: 0 2rem;
	text-align: center;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}

.project__info .content p {
	max-width: 32rem;
	margin: 0 auto;
}

.project__title {
	position: absolute;
	bottom: 2.5rem;
	width: 100vw;
	padding: 0 2rem;
	text-align: center;
}

.slide {
	opacity: 0;
}

.slider {
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height: 67vw;
	max-height: 57rem;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}
h1
{
    font-family: Dolly Pro;
    font-weight: 300;
    font-size: 48px;
    font-style: italic;
    color: #ec6f6b;
    padding-top: 50px;
    margin-left: 80px;
    padding-bottom: 50px;
}
h2
{
    font-family: Dolly Pro;
    font-weight: 300;
    font-size: 48px;
    font-style: italic;
    color: #a7a9ac;
    padding-top: 50px;
    margin-left: 80px;
}
h2
{
    font-family: Dolly Pro;
    font-weight: 300;
    font-size: 48px;
    font-style: italic;
    color: #a7a9ac;
    padding-top: 100px;
    margin-left: 80px;
    padding-bottom: 40px;
    text-decoration: none;

}


a:link{
    text-decoration: none;
}

h3{ 
    font-family: Dolly Pro;
    font-weight: 700;
    font-size: 48px;
    font-style:normal;
    color: #ffffff;
    
}
h4
{
    font-family: Dolly Pro;
    font-weight: 300;
    font-size: 20px;
    font-style:oblique;
    color: #6d6e71;
    margin-left: 80px;
}
h5
{
    font-family: Dolly Pro;
    font-weight: 300;
    font-size: 36px;
    font-style:oblique;
    color: #6d6e71;
    margin-left: 105px;
    padding-right: 70px;
    
}
h6
{
    font-family: Dolly Pro;
    font-weight: 700;
    font-size: 36px;
    font-style:normal;
    color: #ffffff;
    margin-left: 80px;
    padding-top: 200px;
   padding-right: 50px;
}

h7{
    font-family: Dolly Pro;
    font-weight: 700;
    font-size: 20px;
    font-style:normal;
    color: #ec6f6b;
    
}
h8
{
    font-family: Dolly Pro;
    font-weight: 300;
    font-size: 48px;
    font-style: italic;
    color: #d1e0de;
    
    
}
h9
{
    font-family: Dolly Pro;
    font-weight: 300;
    font-size: 48px;
    font-style: italic;
    color: #fcce0d;
    padding-bottom: 50px;
    
    
    
}
h10{
    font-family: Dolly Pro;
    font-weight: 700;
    font-size: 20px;
    font-style:normal;
    color: #d1e0de;
}
h11{
    font-family: Dolly Pro;
    font-weight: 700;
    font-size: 20px;
    font-style:normal;
    color: #fcce0d;
    
    
}
h12
{
    font-family: Dolly Pro;
    font-weight: 300;
    font-size: 48px;
    font-style: italic;
    color: #70c9d8;
    padding-bottom: 50px;}
    
h13
{
    font-family: Dolly Pro;
    font-weight: 300;
    font-size: 16px;
    font-style:normal;
    color: #414142;
    padding-left: 120px;}

h14
{
    font-family: Dolly Pro;
    font-weight: 300;
    font-size: 16px;
    font-style:normal;
    color: #ec6f6b;
    padding-left: 120px;}

h15
{
    font-family: Dolly Pro;
    font-weight: 300;
    font-size: 16px;
    font-style:normal;
    color: #fcce0d;
    padding-left: 120px;}

h16
{
    font-family: Dolly Pro;
    font-weight: 300;
    font-size: 16px;
    font-style:normal;
    color: #d1e0de;
    padding-left: 120px;}

h17
{
    font-family: Dolly Pro;
    font-weight: 300;
    font-size: 16px;
    font-style:normal;
    color: #70c9d8;
    padding-left: 120px;}

h18{
    font-family: Dolly Pro;
    font-weight: 700;
    font-size: 20px;
    font-style:normal;
    color: #70c9d8;
}
.bookcarosel{
    padding-bottom: 50px;
}

.typecarosel{
    padding-bottom: 50px;
    padding-top: 30px;
}

.backwaterquote{
    padding-left: 95px;
}

.filmwebsite{
    padding-top: 50px;
    padding-left: 60px;
    
}
.backwaterweb{
    padding-bottom: 70px;
}
.dots{
    color: white;
}

.aligned:before{
  content: "\201C";
  position: relative;
  left:1%;
  margin-left: -5%;
  padding-right: 17px;
  
}
.flora{
    padding-bottom: 30px;
}
.wayfinding {
    padding-top: 60px;
    padding-bottom: 30px;
}
.type{
    padding-bottom: 50px;
}
.vinkel2{
    padding-top: 40px;
}
.navpic{
     background-image: url(../amyimage/navnoshadwords.png);
    background-size: 100px;
    height: calc(120vh - 100px);
    background-position:left;
    background-repeat: no-repeat;

    
}
/*
linkprob:hover {
     text-decoration: none;
    color: #a7a9ac;
}
*/

.landingintro
{
    font-family: Dolly Pro;
    font-weight: 600;
    font-size: 18px;
    font-style:normal;
    color: #a7a9ac;
}
.amyquote
{
    font-family: Dolly Pro;
    font-weight: 600;
    font-size: 18px;
    font-style:normal;
    color: #6d6e71;
}
.vinkel{
    padding-top: 30px;
}
.vinkelposter{
    padding-left:60px;
}

.contact
{
    font-family: Dolly Pro;
    font-weight: 300;
    font-size: 18px;
    font-style:normal;
    color: #6d6e71;
    padding-bottom: 30px;
}
.webvid{
    
    padding-bottom: 200px;
}

.brendan
{
    font-family: Dolly Pro;
    font-weight: 300;
    font-size: 18px;
    font-style:normal;
    color: #a7a9ac;
    padding-bottom: 30px;
}
.brendan2
{
    font-family: Dolly Pro;
    font-weight: 300;
    font-size: 18px;
    font-style:normal;
    color: #a7a9ac;
    padding-bottom: 30px;
}
.brendan3
{
    font-family: Dolly Pro;
    font-weight: 300;
    font-size: 24px;
    font-style:normal;
    color: #6d6e71;
    padding-bottom: 30px;
}
.brendanquote{
    padding-bottom: 50px;
}
.amyinfo
{
    font-family: Dolly Pro;
    font-weight: 300;
    font-size: 24px;
    font-style:normal;
    color: #6d6e71;
    padding-bottom: 30px;
    
}

.motioninfo
{
    font-family: Dolly Pro;
    font-weight: 300;
    font-size: 21px;
    font-style:normal;
    color: #414142;
    
}
.changingfutures{
    
}
.logo{
    padding-top:40px;

}

.websiteinfo{
    font-family: Dolly Pro;
    font-weight: 300;
    font-size: 21px;
    font-style:normal;
    color: #414142;
    
}
.film{
    padding-bottom: 50px;
}
.darkarro{
    padding-left: 65px;
    padding-top: 190px;
    
}
.website{
    padding-top: 30px;
    padding-bottom: 20px;
}

.website2{
    padding-top: 100px;
    text-align: center;
    padding-bottom: -0px;
   
}

.website3{
    padding-top: 30px;
}

.landing {
    background-image: url(../amyimage/black2.jpg);
    background-size: 530px;
    height: calc(117vh - 112px);
    background-position: right;
    background-repeat: no-repeat;
    
}
.quote1{
    padding-left: 50px;
}
.landingbook{
    background-color: #7dcfdc;
    padding-bottom: 0px;
    height: calc(107vh - 80px);
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
   
}

.landingbook1{
    background-color: #7dcfdc;
    padding-bottom: 0px;
    height: calc(112vh - 80px);
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
   
}
.landingbook
{
    
    background-size: 30px;
    background-position:center;
    
    

}

.landingmotion{
    background-color: #d1e0de;
    padding-bottom: 0px;
    height: calc(113vh - 80px);
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    padding-right: 90px;
   
}
.client{
    padding-top: 80px;
    padding-bottom: 60px;
}
.greyarrow{
    padding-top: 200px;
    padding-left: 50px;

    
}
.bluearrow{
    padding-top: 200px;
    padding-left: 50px;

    
}
/*
.landingmotion
{
    background-image: url(../amyimage/bluearrow_1.svg);
    background-size: 30px;
    background-position:middle;
    
*/

}

.landingwebsite
{
/*    background-image: url(../amyimage/redarrow_1.svg);*/
    background-size: 30px;
    background-position: bottom;
    
    

}

.red{
    width: 10px;
    background-size: 10px;
}
.landingwebsite{
    background-color: #ec6f6b;
    padding-bottom: 0px;
    height: calc(113vh - 80px);
    background-position: center;
    background-repeat: no-repeat;
   
}

.landingtype
{
/*    background-image: url(../amyimage/bluearrow_1.svg);*/
    background-size: 30px;
    background-position: bottom;
    

}

.landingtype{
    background-color: #fcce0d;
    padding-bottom: 0px;
    height: calc(113vh - 80px);
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
   
}

.bookvid{
    background-image: url(../amyimage/jazzbookgiff.mov);
    background-size: 500px;
    height: calc(120vh - 100px);
    background-position:center;
    background-repeat: no-repeat;
}
.poster{
    padding-top: 30px;
    text-align: center;
    
}

.vinkel{
    padding-bottom: 70px;
}

footer {
   
    
   width: 100%;
   background-color: white;
   color: white;
   text-align:center;
    
   

}

.foot{
    font-family: Dolly Pro;
    font-weight:100;
    font-size: 13px;
    line-height: 28px;
    color:#575757;
    background-color: #ffffff;
    padding-top: 20px;
    background-repeat: no-repeat;
    background-position: bottom right;
}

@media only screen and (max-width: 576px)
{
    .quote1{
        padding-right: 100px;
    }
h2{
    font-weight: 300;
    font-size:22px;
    color:#a7a9ac;
    
    }
    
    .nomobile{
        display: none;
    }

    .bluearrow{
        display: none;
    }
    .greyarrow{
        display: none;
    }
.amyinfo
    {
        font-weight: 300;
        font-size:18px;
        color:#6d6e71;
    }

    
    .amyquote{
        font-weight: 700;
        font-size:18px;
        color:#ffffff;
        
    }

    .contact{
        font-weight: 300;
        font-size:14px;
        color:#ffffff;
        padding-top: 100px;
    }

h1
{
    font-family: Dolly Pro;
    font-weight: 300;
    font-size: 21px;
    font-style: italic;
    color: #ec6f6b;
    padding-top: 50px;
    margin-left: 20px;
    padding-bottom: 50px;
}
    
h6
{
    font-family: Dolly Pro;
    font-weight: 700;
    font-size: 30px;
    font-style:normal;
    color: #ffffff;
    margin-left: 8px;
    padding-top: 200px;
}
h5
{
    font-family: Dolly Pro;
    font-weight: 300;
    font-size: 30px;
    font-style:oblique;
    color: #6d6e71;
    margin-left: 30px;
    
}
h9
{
    font-family: Dolly Pro;
    font-weight: 300;
    font-size: 21px;
    font-style: italic;
    color: #fcce0d;
    padding-bottom: 50px;
    
    
    
}
    h8
{
    font-family: Dolly Pro;
    font-weight: 300;
    font-size: 21px;
    font-style: italic;
    color: #d1e0de;
    padding-bottom: 50px;
    
    
    
}
    h12
{
    font-family: Dolly Pro;
    font-weight: 300;
    font-size: 21px;
    font-style: italic;
    color: #70c9d8;
    padding-bottom: 50px;
    
    
    
}
    .greyarrow{
    padding-top: 50px;
    padding-left: 10px;
    

}
    
    .aligned:before{
  content: "\201C";
  position: relative;
  left:3%;
  margin-left: -7%;
  padding-right: 17px;
  
}
    .landingintro
{
    font-family: Dolly Pro;
    font-weight: 600;
    font-size: 11px;
    font-style:normal;
    color: #6d6e71;
}
    .brendan
{
    font-family: Dolly Pro;
    font-weight: 300;
    font-size: 11px;
    font-style:normal;
    color: #6d6e71;
    padding-bottom: 30px;
}
    .brendan3
{
    font-family: Dolly Pro;
    font-weight: 300;
    font-size: 14px;
    font-style:normal;
    color: #6d6e71;
    padding-bottom: 30px;
    padding-top: 30px;
}
    
    .typecarosel{
        padding-right: 130px;
        padding-left: 130px;
    }
    
.bookcarosel{
        padding-right: 130px;
        padding-left: 130px;
    }
